body{
    background-color: #ced6e0;
    font-family: 'Roboto', sans-serif;
}

input:focus{

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}