
<nav class="navbar  titulo-reclamos">
  <a class="navbar-brand" href="/home">
    <img src="/assets/img/logo/logo-white.png" width="17%" alt="">
  </a>
</nav>

<section class="mt-5 login-user">
  <div class="container">
    <div class="row">
      <div class="col-9 mx-auto  mb-5">
        <form class="formulario card">
          <img class="text-center mx-auto mb-3" src="/assets/img/icons/user-registro.png" width="30%" alt="">
          <h1 class="mx-auto text-center">Formulario de Registro</h1>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="rutUser">Rut</label>
                <input type="text" class="form-control" name="rut" placeholder="Ingrese  Rut" [(ngModel)]="rut">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="nombreUser">Usuario</label>
                <input type="text" class="form-control" name="usuario" placeholder="Ingrese Usuario"
                  [(ngModel)]="usuario">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="direccionUser">Dirección</label>
                <input type="text" class="form-control" name="direccion" placeholder="Ingrese Dirección"
                  [(ngModel)]="direccion">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="telefonoUser">Telefono</label>
                <input type="text" class="form-control" name="numerotelefono" placeholder="Ingrese Telefono"
                  [(ngModel)]="numerotelefono">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="correoUser">Correo</label>
                <input type="correo" class="form-control" name="correo" placeholder="Ingrese Correo"
                  [(ngModel)]="correo">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="contrasenhaUser">Contraseña</label>
                <input type="password" class="form-control" name="contrasenha" placeholder="Ingrese Contraseña"
                  [(ngModel)]="contrasenha">
              </div>
            </div>
          </div>
          <button type="button" class="Btn-login btn-block mt-3" (click)="registrarUsuario()">Registrarse</button>
          <div class="form-group text-center mt-5">
            <p>¿Ya tienes una cuenta? Inicia Sesión <a>aquí</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer-reclamos">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 ">
      <div class="col-md-3 mb-3">
        <h6>
          <a href="#!">Sugerencias</a>
        </h6>
      </div>
      <div class="col-md-3 mb-3">
        <h6>
          <a href="#!">Preguntas Frecuentes</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%;">
  </div>
  <div class="footer-copyright text-center py-3">Grupo 3 © 2020 Copyright:
    <a href="/home"> ReclamosChile.cl</a>
  </div>
</footer>
