
<section class="mt-5 login-user">
  <div class="container">
    <div class="row">
      <div class="col-9 mx-auto  mb-5">
        <form class="formulario card">
          <img class="text-center mx-auto mb-3" src="/assets/img/icons/user-registro.png" width="20%" alt="">
          <h1 class="mx-auto text-center">Formulario de Registro</h1>
          <div class="row">
            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="rutUser">Rut</label>
                <input type="text" class="form-control"  name="rut" id="rut" (keydown)="ValidadorRut(rut)" placeholder="Ingrese  Rut" [(ngModel)]="rut">
              </div>
            </div>
            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="nombreUser">Nombre de usuario</label>
                <input type="text" class="form-control" name="usuario" placeholder="Ingrese Usuario"
                  [(ngModel)]="usuario">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="direccionUser">Dirección</label>
                <input type="text" class="form-control" name="direccion" placeholder="Ingrese Dirección"
                  [(ngModel)]="direccion">
              </div>
            </div>
            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="telefonoUser">Telefono</label>
                <input type="text" class="form-control" name="numerotelefono" placeholder="Ingrese Telefono"
                  [(ngModel)]="numerotelefono">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="correoUser">Correo</label>
                <input type="correo" class="form-control" name="correo" placeholder="Ingrese Correo"
                  [(ngModel)]="correo">
              </div>
            </div>
            <div class="col-6 col-md-6 col-sm-12 col-xs-12">
              <div class="form-group">
                <label for="contrasenhaUser">Contraseña</label>
                <input type="password" class="form-control" name="contrasenha" placeholder="Ingrese Contraseña"
                  [(ngModel)]="contrasenha">
              </div>
            </div>
          </div>
          <button type="button" class="Btn-login btn-block mt-3" (click)="registrarUsuario()">Registrarse</button>
          <div class="form-group text-center mt-5">
            <p>¿Ya tienes una cuenta? Inicia Sesión <a href="/login"> aquí</a></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
