<div class="container">
  <div class="col">
    <a class="p-back mt-4" href="/inicioAdmin"><span class="anterior">Página
        Anterior</span></a>
  </div>
  <div class="row reclamos-titulo">
    <h1>Reclamos sin Asignación</h1>
  </div>
  <div class="mat-elevation-z8 tabla-reclamos">
    <span class="p-4">Filtrar por Rut o Numero de Reclamo</span>
    <input class="input-filtrar" matInput placeholder="Ingrese dato" (keypress)="searchDef(search)"
      [(ngModel)]="search">
    <mat-table [dataSource]="dataSource">
      <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}">
        <mat-header-cell *matHeaderCellDef> {{columna.title}} </mat-header-cell>
        <mat-cell *matCellDef="let reclamo"> {{reclamo[columna.name]}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
      <mat-row *matRowDef="let myRowData; columns: columnasAMostrar"></mat-row>
      <ng-container matColumnDef="opciones">
        <mat-header-cell *matHeaderCellDef> Tomar </mat-header-cell>
        <mat-cell *matCellDef="let reclamo; index as i">
          <button class="btn-ver" (click)="asignarReclamo(reclamo)">Tomar reclamo</button>

        </mat-cell>
      </ng-container>
    </mat-table>
  </div>
</div>