<div style="width: 90%; ;margin: 1em auto;" class="mat-elevation-z8">
  <span class="p-4">Filtrar por Rut</span>
  <input class="input-filtrar" matInput placeholder="Ingresa un rut" (keypress)="searchDef(search)"
    [(ngModel)]="search">
  <mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let columna of columnas" matColumnDef="{{columna.name}}">
      <mat-header-cell *matHeaderCellDef> {{columna.title}} </mat-header-cell>
      <mat-cell *matCellDef="let reclamo"> {{reclamo[columna.name]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnasAMostrar"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnasAMostrar"></mat-row>
    <ng-container matColumnDef="opciones">
			<mat-header-cell *matHeaderCellDef> Tomar o Eliminar </mat-header-cell>
			<mat-cell *matCellDef="let reclamo; index as i">
        <button mat-stroked-button color="primary"  (click)="openAsignAdmin(reclamo, i)">Tomar reclamo</button>

			</mat-cell>
		  </ng-container>
  </mat-table>
</div>
