<section class="home">
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 style="font-size: 20px">Bienvenido a Reclamos Chile</h5>
      </div>
    </div>
    <div>
      <div class="row portal-titulo">
        <h1>Portal del consumidor</h1>
      </div>
      <div class="row">
        <div class="col text-center titulo-usuario">
          <h1>Atención de Usuarios</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-6 text-center">
          <img src="/assets/img/icons/login.png" width="20%" alt="" />
          <p class="mt-3">
            Para ver el estado de su reclamo debe iniciar sesión
          </p>
          <button class="Btn-login mb-5" type="submit" routerLink="/login">
            Iniciar Sesión
          </button>
        </div>
        <div class="col-6 text-center">
          <img src="/assets/img/icons/registro.png" width="20%" alt="" />
          <p class="mt-3">Para ingresar un reclamo debe registrarse</p>
          <button class="Btn-login mb-5" type="submit" routerLink="/registro">
            Registrarse
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
