<nav class="navbar  titulo-reclamos" *ngIf="url()==true">
  <a class="navbar-brand" href="/home">
    <img src="/assets/img/logo/logo-white.png" width="17%" alt="">
  </a>
  

  <a class="btn-admin" href="/home" (click)="logout()" (click)="url()">Cerrar Sesión</a>
</nav>

<nav class="navbar  titulo-reclamos" *ngIf="url()==false">
  <a class="navbar-brand" href="/home">
    <img src="/assets/img/logo/logo-white.png" width="17%" alt="">
  </a>
  <a class="btn-admin" href="/loginAdmin">Administrador</a>
</nav>
