<section class="mt-5 login-user">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto  mb-5">
                <form class="formulario card">
                    <img class="text-center mx-auto mb-3" src="/assets/img/icons/login-user.png" width="30%" alt="">
                    <h1 class="mx-auto text-center">Recuperar Contraseña</h1>
                    <div class="form-group">
                        <label for="nombreUser">Correo</label>
                        <input type="email" class="form-control" name="mail" id="correo" placeholder="Ingrese  Correo"
                            #correo>
                    </div>
                    <div class="form-group">
                        <label for="contrasenhaUser">Ingrese su nueva contraseña</label>
                        <input type="password" class="form-control" name="password1" id="contrasenarecuperaruno"
                            #contrasena placeholder="Ingrese Contraseña" [(ngModel)]="contrasenha1">
                    </div>
                    <div class="form-group">
                        <label for="contrasenhaUser">Aquí verás tu nueva contraseña</label>
                        <P>{{contrasenha1}}</P>
                    </div>

                    <button type="button" class="btn btn-lg Btn-login  btn-block" value="Acceder"
                        (click)="recuperar(correo.value, contrasena.value)">Cambiar contraseña</button>
                    <div class="form-group text-center mt-5">

                    </div>
                </form>
            </div>
        </div>
    </div>

</section>