
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Preguntas frecuentes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col mb-5">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                ¿Cómo puedo ingresar una consulta o reclamo por Internet?
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Ingresarlo a través del Portal del Consumidor <a href="/home">aquí</a>
                            <p>Es importante que acompañe todos los antecedentes que disponga para acreditar los hechos
                                que reclama.

                                En el caso de las consultas el tiempo máximo de respuesta es de 2 días hábiles, por lo
                                que si requiere una respuesta inmediata le sugerimos llamar al call center.

                                Le recordamos que, una vez ingresado el Reclamo o Consulta, podrá revisar el estado y
                                detalles de su caso y revisar la respuesta ingresando al Portal del Consumidor, iniciar
                                sesión y pinchar en "Ver reclamos ".</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                ¿Hay algún plazo para hacer un reclamo?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Con la entrada en vigencia de la nueva ley, los consumidores tienen más tiempo para poder
                            denunciar porque <b>el plazo para ejercer sus derechos aumenta de 6 meses a 2 años</b>
                            contados
                            desde el cese de la infracción a la ley.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                ¿Puedo ingresar un reclamo a nombre de otra persona?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <b> Es la persona afectada con un problema de consumo la que debe ingresar su reclamo</b>,
                            por lo que NO es posible hacerlo a nombre de otra persona.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button"
                                data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                aria-controls="collapseFour">
                                ¿Puedo obtener información de un reclamo o consulta que no fue presentado por mí?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <b>Reclamos Chile entregará información sólo a quién haya ingresado el reclamo.</b>La Ley de
                            Transparencia ha declarado como reservadas aquellas materias cuya publicación o comunicación
                            afectan el derecho a la privacidad del consumidor.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
