<nav class="navbar  titulo-reclamos">
	<a class="navbar-brand" href="/home">
		<img src="/assets/img/logo/logo-white.png" width="17%" alt="">
	</a>
	<a class="btn-admin" href="/home">Cerrar Sesión</a>
</nav>

<div class="mat-elevation-z8">
	<mat-table [dataSource]="dataSource">
		<ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
        <mat-header-cell *matHeaderCellDef> {{column.title}} </mat-header-cell>
        <mat-cell *matCellDef="let reclamo"> {{reclamo[column.name]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnShow"></mat-header-row>
		<mat-row *matRowDef="let myRowData; columns: columnShow"></mat-row>
		<ng-container matColumnDef="opciones">
			<mat-header-cell *matHeaderCellDef> Eliminar o Modificar </mat-header-cell>
			<mat-cell *matCellDef="let reclamo; index as i">
			  <button (click)="borrarReclamo(reclamo, i)" mat-mini-fab color="warn">
				<mat-icon>delete</mat-icon>
			  </button>
			  <div style="padding-right: 2em;"></div>
			  <button (click)="openEstado(reclamo)" href="#contenido" data-toggle="modal" mat-mini-fab color="warn">
				<mat-icon>edit</mat-icon>
			  </button>
			  <button mat-mini-fab data-toggle="modal" (click)="openView(reclamo)">
				Ver
			  </button>
			  <button type="button" class="Btn-login btn-block mt-3">Ingresar respuesta</button>
			</mat-cell>
		  </ng-container>
	</mat-table>
</div>
