


<div style="width: 90%; margin: 1em auto;">
  <button type="button" button mat-stroked-button color="primary" routerLink="/respuestaAdmin">Ingresar respuesta</button>
</div>
<div class="mat-elevation-z8" style="width: 90%; margin: 1em auto;">
	<mat-table [dataSource]="dataSource">
		<ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
        <mat-header-cell *matHeaderCellDef> {{column.title}} </mat-header-cell>
        <mat-cell *matCellDef="let reclamo"> {{reclamo[column.name]}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnShow"></mat-header-row>
		<mat-row *matRowDef="let myRowData; columns: columnShow"></mat-row>
		<ng-container matColumnDef="opciones">
			<mat-header-cell *matHeaderCellDef> Eliminar o Modificar </mat-header-cell>
			<mat-cell *matCellDef="let reclamo; index as i">
			  <button (click)="borrarReclamo(reclamo, i)" mat-mini-fab color="warn">
				<mat-icon>delete</mat-icon>
			  </button>
			  <div style="padding-right: 2em;"></div>
			  <button mat-mini-fab data-toggle="modal" (click)="openView(reclamo)">
				Ver
			  </button>

			</mat-cell>
		  </ng-container>
	</mat-table>
</div>
