.titulo-reclamos{
    background-color: #0B4E85;
}
.titulo-reclamos a{
    color: white;
}
.btn-admin {
    background: transparent;
    border-radius: 50px;
    padding: 6px 2px;
    border: 1px solid #ffffff;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    min-width: 119px;
    font-size: 0.8em;
    max-height: 48px;
    z-index: 1;
}
