<section class="mt-5 login-user">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto  mb-5">
                <form class="formulario card">
                    <h1 class="mx-auto text-center">Ingrese su Reclamo</h1>
                    <div class="form-group">
                        <label for="rutReclamo">Rut</label>
                        <input type="text" class="form-control" [(ngModel)]="usuarios.rut" name="rut" #rut id="rutReclamo" placeholder="Ingrese Rut" disabled>
                    </div>
                    <div class=" form-group">
                        <label class="" for="tipoReclamo">Tipo de reclamo</label>
                        <select class="custom-select" name="idCurso" id="tipoReclamo" #tipoReclamo>
                            <option disabled>Seleccione su tipo de reclamo:</option>
                            <option value="Gestion de deuda">Gestión de deuda</option>
                            <option value="Plan de Ahorro">Plan de Ahorro</option>
                            <option value="Laboral">Laboral</option>
                            <option value="Servicios digitales">Servicios digitales</option>
                            <option value="Servicios publicos">Gestión de deuda</option>
                            <option value="Accidente de transito">Accidente de tránsito</option>
                            <option value="Otros">Otros</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="contrasenhaUser">Descripción de su Reclamo</label>
                        <textarea #descripcion name="descripcion" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col"><button type="submit" class="Btn-cancelar  mt-3"
                                    routerLink="/usuario">Cancelar</button></div>
                            <div class="col"> <button type="submit" class="Btn-login  mt-3" (click)="ingresarReclamo(rut.value, tipoReclamo.value, descripcion.value)">Enviar</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
