<h2 mat-dialog-title class="tl-ep">Edite su perfil</h2>
<div style="width:100%; padding:2em;">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-4">
        Aquí podrá actualizar sus datos
      </h1>
    </div>
  </div>
  <mat-form-field style="width:100%;">
    <mat-label #nombre>Nombre</mat-label>
    <input matInput style="width:80%;" [(ngModel)]="usuarios.nombre" name="nombre">
  </mat-form-field>
  <br>
  <mat-form-field style="width:100%;">
    <mat-label #direccion>Dirección</mat-label>
    <input matInput style="width:80%;" [(ngModel)]="usuarios.direccion" name="direccion">
  </mat-form-field>
  <br>
  <mat-form-field style="width:100%;">
    <mat-label #telefono>Teléfono</mat-label>
    <input matInput style="width:80%;" [(ngModel)]="usuarios.numTelefono" name="telefono">
  </mat-form-field>
  <br>
  <mat-form-field style="width:100%;">
    <mat-label #correo>Correo</mat-label>
    <input matInput style="width:80%;" #correo [(ngModel)]="usuarios.correo" name="correo">
  </mat-form-field>
  <br>
  <mat-form-field style="width:100%;">
    <mat-label #contra>Nueva contraseña</mat-label>
    <input matInput style="width:80%;" [(ngModel)]="usuarios.contrasenha" name="contra">
  </mat-form-field>
  <div class="row mt-3">
    <div class="col-6">
      <button class="eliminar-cuenta" [mat-dialog-close]="true" (click)="borrarPorCorreo()">Eliminar
        mi
        cuenta</button>
    </div>
    <div class="col-6">
      <button class="g-cambios" [mat-dialog-close]="true" mat-raised-button (click)="guardar()">Guardar cambios</button>
    </div>
  </div>
</div>