<nav class="navbar  titulo-reclamos">
    <a class="navbar-brand" href="/home">
        <img src="/assets/img/logo/logo-white.png" width="17%" alt="">
    </a>
    <a class="btn-admin" href="/admin">Administrador</a>
</nav>

<section class="home">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Bienvenido a Reclamos Chile</h5>
            </div>
        </div>
        <div>
            <div class="row portal-titulo">
                <h1>Portal del consumidor</h1>
            </div>
            <div class="row">
                <div class="col text-center titulo-usuario">
                    <h1>Atención de Usuarios </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <img src="/assets/img/icons/login.png" width="20%" alt="">
                    <p class="mt-3">Para ver el estado de su reclamo debe iniciar sesión</p>
                    <button class="Btn-login mb-5" type="submit" routerLink="/login">Iniciar Sesión</button>
                </div>
                <div class="col-6 text-center">
                    <img src="/assets/img/icons/registro.png" width="20%" alt="">
                    <p class="mt-3">Para ingresar un reclamo debe registrarse</p>
                    <button class="Btn-login mb-5" type="submit" routerLink="/registro">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="footer-reclamos">
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 ">
            <div class="col-md-3 mb-3">
                <h6>
                    <a href="#!">Sugerencias</a>
                </h6>
            </div>
            <div class="col-md-3 mb-3">
                <h6>
                    <a href="#!">Preguntas Frecuentes</a>
                </h6>
            </div>
        </div>
        <hr class="rgba-white-light" style="margin: 0 15%;">
    </div>
    <div class="footer-copyright text-center py-3">Grupo 3 © 2020 Copyright:
        <a href="/home"> ReclamosChile.cl</a>
    </div>
</footer>

