<section class="mt-5 login-user">
  <div class="container">
    <div class="row">
      <div class="col-6 mx-auto  mb-5">
        <form class="formulario card">
          <h1 class="mx-auto text-center">Ingrese su respuesta</h1>
          <div class="form-group">
            <label for="rut">Rut</label>
            <input type="text" class="form-control" [(ngModel)]="usuarios.rut" name="rut" id="rutReclamo"
              placeholder="Ingrese Rut">
          </div>
          <div class="form-group">
            <label for="nreclamo">Número de reclamo</label>
            <input type="text" class="form-control" [(ngModel)]="n_reclamo" name="n_reclamo" id="rutReclamo"
              placeholder="Ingrese número de reclamo">
          </div>
          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea [(ngModel)]="texto" name="texto" id="" cols="30" rows="10"></textarea>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col"><button type="submit" class="Btn-cancelar  mt-3"
                  routerLink="/AdminPersonal">Cancelar</button></div>
              <div class="col"> <button type="button" class="Btn-login  mt-3"
                  (click)="IngresarRespuesta(usuarios.rut, n_reclamo, texto)">Enviar</button></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
