<h2 mat-dialog-title style="background-color: darkblue; color:white; text-align: center; box-shadow: 0px 3px 3px; width:100%; height:50px; padding-top:7px; text-shadow: 0 0 1em white
;">Detalle</h2>

<div style="height:500px;">

<div class="form-group">
    <label for="rutReclamo">Rut</label>
    <input type="text" class="form-control" [(ngModel)]="values.rut" name="rut" #rut id="rutReclamo" disabled>
</div>
  <div class=" form-group">
    <label class="" for="tipoReclamo">Tipo de reclamo:</label>
    <select class="custom-select" name="idCurso" id="tipoReclamo" [(ngModel)]="values.tipoReclamo" name="tipoReclamo" #tipoReclamo>
        <option disabled>Seleccione su tipo de reclamo:</option>
        <option value="Gestion de deuda">Gestión de deuda</option>
        <option value="Plan de Ahorro">Plan de Ahorro</option>
        <option value="Laboral">Laboral</option>
        <option value="Servicios digitales">Servicios digitales</option>
        <option value="Servicios publicos">Gestión de deuda</option>
        <option value="Accidente de transito">Accidente de tránsito</option>
        <option value="Otros">Otros</option>
    </select>
</div>
  <div class="form-group">
    <label for="rutReclamo">Descripción del problema:</label>
    <input type="text" class="form-control" [(ngModel)]="values.descripcion" name="descripcion">
</div>
  <div class="form-group">
    <label for="rutReclamo">Fecha de ingreso:</label>
    <input type="text" class="form-control" [(ngModel)]="values.fecha" name="fecha" #descripcion disabled>
</div>
<div class="form-group">
    <label for="rutReclamo">Estado:</label>
    <input type="text" class="form-control" [(ngModel)]="values.estado" name="estado" #estado disabled>
</div>
  <div class="form-group">
    <label for="rutReclamo">Antecedente/Respuesta de admin:</label>
    <input type="text" class="form-control" [(ngModel)]="valueAns.texto" name="antecedentes" #antecedentes disabled>
</div>
  <div class="form-group">
    <label for="rutReclamo">Añadir comentarios:</label>
    <input type="text" class="form-control" [(ngModel)]="values.comentarios" name="comentarios" #comentarios>
</div>
  <button [mat-dialog-close]="true" mat-raised-button color="primary" style="margin-left: 6em;" (click)="guardar()">Guardar cambios</button>
  <br>
  <br>
</div>
