<h2 mat-dialog-title class="tl-ep">Detalle de su Reclamo</h2>

<div style="height:500px;">

  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="rut">Rut</label>
        <input type="text" class="form-control" [(ngModel)]="values.rut" name="rut" #rut id="rut" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class=" form-group">
        <label class="" for="tipoReclamo">Tipo de reclamo:</label>
        <select class="custom-select" name="idCurso" id="tipoReclamo" [(ngModel)]="values.tipoReclamo"
          name="tipoReclamo" #tipoReclamo>
          <option disabled>Seleccione su tipo de reclamo:</option>
          <option value="Gestion de deuda">Gestión de deuda</option>
          <option value="Plan de Ahorro">Plan de Ahorro</option>
          <option value="Laboral">Laboral</option>
          <option value="Servicios digitales">Servicios digitales</option>
          <option value="Servicios publicos">Gestión de deuda</option>
          <option value="Accidente de transito">Accidente de tránsito</option>
          <option value="Otros">Otros</option>
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción del problema:</label>
    <textarea type="text" class="form-control" [(ngModel)]="values.descripcion" name="descripcion"></textarea>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="fecha">Fecha de ingreso:</label>
        <input type="text" class="form-control" [(ngModel)]="values.fecha" name="fecha" #descripcion disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" class="form-control" [(ngModel)]="values.estado" name="estado" #estado disabled>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="texto">Antecedente/Respuesta de admin:</label>
    <textarea type="text" class="form-control" placeholder="Este reclamo no ha sido respondido"
      [(ngModel)]="valueAns.texto" name="antecedentes" disabled></textarea>
  </div>
  <div class="form-group">
    <label for="texto">Añadir comentarios:</label>
    <textarea type="text" class="form-control" [(ngModel)]="values.comentarios" name="comentarios"
      #comentarios></textarea>
  </div>
  <button class="btn-ok btn-block" [mat-dialog-close]="true" (click)="guardar()">Guardar cambios</button>
  <br>
  <br>
</div>